body {
    font-family: 'Macondo', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; 
    background-color: #FFFFFF;     
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #212121;
    text-decoration: none;
}
.web {
    color: #2196F3;
}
.nav-item,
.mail,
.phone-number {
    text-decoration: none;
}
.nav-item:visited {
    color: #212121;
}
.nav-item:hover {
    color: #2196F3;
}
.mail,
.phone-number {
    color: #757575;
}
.mail:visited,
.phone-number:visited {
    color: #757575;
}
.mail:hover,
.phone-number:hover {
    color: #2196F3;
}
